.ml-15 {
  margin-left: 15px !important;
}

.ml-5 {
  margin-left: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-15 {
  margin-bottom: 15px;
}

.ml-20 {
  margin-left: 20px !important;
}

.mr-15 {
  margin-right: 15px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-20 {
  margin-top: 20px;
}

.w-120p {
  width: 120px;
}

.w-88p {
  width: 88px !important;
}

.w-174p {
  width: 174px !important;
}

.text-right {
  text-align: right;
}

.cursor-move {
  cursor: move;
}

.f-a-c {
  display: flex;
  align-items: center;
}


.link {
  cursor: pointer;
  &:hover {
    color: #409EFF;
  }
}
